@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var leadBannerId = Umbraco.Media(CurrentPage.leadbannerImage);
    string leadBannerUrl = leadBannerId.Url;
}

@section stylesheets {
    <style>
        body header {
            background-image: url('@Html.Raw(leadBannerUrl)');
        }
    </style>
}

@Html.Partial("~/Views/Partials/Shared/_Leadbanner.cshtml")

<div>
    @CurrentPage.GetGridHtml("grid")
</div>